@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

$background: #ffffff;
$checkbox: #f5f5f5;
$price: #0f4374;
$headerBackground: #343434;
$colorName: #2c2c2c;
$addButton: #00194c;
$productName: #000000;

$blue: #32add6;
$pastelYellow: #c9bd89;
$limeGreen: #a2ce79;
$mint: #97bfb7;

$mobileResolution: 500px;