@import '_colors';

body {
    font-family: 'DejaVu Sans';
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    padding: 30px 20px 30px 20px;
    justify-content: flex-start;
}

.wrapper {
    position: relative;
}

@media (max-width: $mobileResolution) {
    main {
        flex-direction: column;
    }
}