@import '_colors';

.filters {
    min-width: 300px;
    color: $headerBackground;

    h4,
    h5 {
        font: {
            family: 'Lalezar', cursive;
            weight: normal;
        }
    }

    h4 {
        font-size: 23px;
        border-bottom: 2px solid $headerBackground;
        margin-top: 0;
    }

    h5 {
        font-size: 20px;
        margin-bottom: 0;
    }

    ul {
        padding-left: 0;
        margin: 0;

        li {
            list-style-type: none;
        }
    }
}

.color-preview {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 4px 0 13px;
}

.color-preview-blue { 
    background-color: $blue;
}

.color-preview-yellow { 
    background-color: $pastelYellow;
}

.color-preview-lime { 
    background-color: $limeGreen;
}

.color-preview-mint { 
    background-color: $mint;
}

.color-name {
    font-size: 15px;
}