@import '_globals';

.filters {
    position: relative;
    min-width: 200px;
    color: $headerBackground;

    h4,
    h5 {
        font: {
            family: 'Lalezar', cursive;
            weight: normal;
        }
    }

    h4 {
        font-size: 23px;
        border-bottom: 2px solid $headerBackground;
        margin-top: 0;
    }

    h5 {
        font-size: 20px;
        margin-bottom: 0;
    }

    ul {
        padding-left: 0;
        margin: 0;

        li {
            list-style-type: none;
            padding: {
                top: 2px;
                bottom: 2px;
            }
        }
    }
}

.filters-header {
    display: block;
}

.filters-header-mobile {
    display: none;
}

.color-preview {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 4px 0 13px;
}

.color-preview-blue { 
    background-color: $blue;
}

.color-preview-yellow { 
    background-color: $pastelYellow;
}

.color-preview-lime { 
    background-color: $limeGreen;
}

.color-preview-mint { 
    background-color: $mint;
}

.color-name {
    font-size: 15px;
}

.filters-header-mobile {
    position: relative;
    cursor: pointer;
}

@media (max-width: $mobileResolution) {

    h4 {
        margin-bottom: 5px;
    }

    h5 {
        margin-top: 5px;
    }

    .filters {
        min-width: 0;
    }

    .filter-list {
        height: 0;
        overflow: hidden;
        transition: 0.3s;
    }

    .expand-icon {
        position: absolute;
        right: 0;
        bottom: 0;

        font: {
            family: 'DejaVu Sans';
            size: 36px;
            weight: bold;
        }
    }

    .filter-list-expanded {
        height: 150px;
        transition: 0.3s;
    }

    .filters-header {
        display: none;
    }

    .filters-header-mobile {
        position: relative;
        display: block;
    }
}