@import '_globals';

h1 {
    font: {
        family: 'Lalezar', cursive;
        weight: normal;
        size: 44px;
    }

    padding: {
        top: 16px;
        bottom: 6px;
    }
    
    color: white;
    background-color: $headerBackground;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px 8px 20px;
}

@media (max-width: $mobileResolution) {
    h1 {
        font-size: 36px;

        padding: {
            top: 5px;
            bottom: 0;
        }
    }
}