@import '_colors';
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

nav {
    position: absolute;
    left: -320px;
    top: 0;

    border-right: 2px solid $background;

    width: 230px;
    height: 100vh;
    padding: 30px 40px 30px 40px;
    
    background-color: $headerBackground;

    a,
    a:visited {

        font: {
            family: 'Lalezar', cursive;
            weight: normal;
            size: 28px;
        }

        display: block;
        text-decoration: none;
        color: $background;

        margin: {
            top: 14px;
            bottom: 14px;
        }
    }
}

.navbar-close-button {
    height: 50px;
    
    span {
        position: absolute;
        display: block;
        height: 5px;
        width: 35px;
        background-color: $background;
        border-radius: 3px;
        margin: {
            top: 7px;
            bottom: 7px;
        }
        transform: rotate(45deg);
    }

    span:nth-child(1) {
        transform: rotate(45deg);
    }

    span:nth-child(2) {
        transform: rotate(-45deg);
    }
}