@import '_colors';

nav {
    position: absolute;
    top: 0;
    left: 0;

    border-right: 2px solid $background;

    width: 230px;
    height: 100%;
    padding: 70px 40px 30px 40px;
    
    background-color: $headerBackground;

    a,
    a:visited {

        font: {
            family: 'Lalezar', cursive;
            weight: normal;
            size: 28px;
        }

        display: block;
        text-decoration: none;
        color: $background;

        margin: {
            top: 14px;
            bottom: 14px;
        }
    }

    z-index: 1;
}

@media (max-width: $mobileResolution) {
    nav {
        width: 100%;
        text-align: center;
        padding: {
            left: 0;
            right: 0;
        };
    }
}