@import '_colors';
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.product-card {
    position: relative;
    margin: 30px;
    width: 216px;
}

.add-to-cart-button {
    display: block;
    border: none;
    background-color: $addButton;
    color: $background;
    width: 100%;
    padding-top: 4px;
    cursor: pointer;

    font: {
        family: 'Lalezar', cursive;
        weight: normal;
        size: 20px;
    }
}

.add-to-cart-button:hover {
    background-color: $price;
    transition: 0.3s;
}

.product-name {
    margin: {
        top: 10px;
        bottom: 5px;;
    }
    text-align: center;
}

.prices {    
    text-align: center;
}

.price-old {
    text-decoration: line-through;
    
    padding: {
        left: 5px;
        right: 5px;
    }
}

.price {
    font-size: 18px;
    color: $price;

    padding: {
        left: 5px;
        right: 5px;
    }
}

.sale-icon {
    position: absolute;
    right: -30px;
    bottom: 60px;
}