@import '_colors';
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

h1 {
    font: {
        family: 'Lalezar', cursive;
        weight: normal;
        size: 44px;
    }

    padding: {
        top: 16px;
        bottom: 6px;
    }
    
    color: white;
    background-color: $headerBackground;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.topbar {
    display: flex;
    justify-content: space-between;

    padding: {
        top: 8px;
        bottom: 8px;
    }
}

.navbar-button {
    border: 0;
    background-color: white;
}